@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
/* Fonts */
    --title: "Abril Fatface", serif;
    --main-font: "Montserrat", sans-serif;
/* Colors */
    --dark-red:#250408;
    --red:#880D1E;
    --light-red: #DD2D4A;
    --pink: #F26A8D;
    --light-pink: #F49CBB;
    --light-blue: #CBEEF3;
    --white: #EEFAFB;
}

::placeholder {
  color: darkslategrey;
  opacity: 1; /* Firefox */
}

/* General styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title);
  color: var(--dark-red);
}

body {
  font-family: var(--main-font);
  color: var(--dark-red);
  margin: 0;
  background: var(--dark-red);
}

/**Header*/
header {
  width: 100%;
  line-height: 0.3rem;
  text-transform: uppercase;
  
  & a {
    text-decoration: none;
    color: var(--white);
  }

  & a:hover {
    text-decoration: none;
    color: var(--white) !important;
  }
  
  & li {
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    padding: 0.3rem;
  }
  & li:hover {
    background-color: var(--dark-red);
    color: var(--white) !important;
  }
}

.active {
  background-color: var(--dark-red);
  color: var(--white) !important;
}

/* Welcome block */
.welcome {
  background-color: var(--light-pink);
  font-family: 'Abril Fatface';
  contain: paint;

  display: flex;
  align-items: center;
  justify-content: center;

    & .btn::before {
      display: inline;
      position: absolute;
      transform: rotate(350deg);
      font-size: clamp(2rem, 3vw, 6rem);
      top: 30%;
      left: 20%;
      content: "It's US";
      color: var(--white);

      animation-name: GrowShrink;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
}

.welcome::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(71, 17, 5, 0.641);
  z-index: -1;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(239, 42, 201);
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

/* main block */
.main{
  background-color: var(--light-red);
}

/* letter block */
#letter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
}

/* scroll snap effect */
html, body, section {
  min-height: 100vh;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Form styles */

.card {
 background-color: var(--light-blue);
 border-radius: 20% 0 20% 0;
 border: 0.25rem solid var(--light-pink);
 width: min(90%, 800px);
 align-items: center;
}


fieldset > div, #contact-form > div {
  margin-bottom: 10px;
}

fieldset > div > label, fieldset > label,
fieldset > div > input, fieldset > input {
  width: min(95%, 800px);
}

fieldset > div > button {
  border: 2px solid var(--light-pink);
  background-color: var(--white);
  color: var(--red);
  margin-top: 5px;
  width: 50px;
}

.letter-type-button {
  font-family: var(--title);
  font-weight: 200;
  border: 2px solid var(--pink);
}

.letter-output {
  padding: 10%;
}

#generate-btn, #clear-btn, #download, #back,
#submit-btn {
  font-family: var(--title);
  font-size: x-large;
}

#loveLetterForm{
  width:80%;
}

/* Button styling */
.btn {
  border-radius: 25% 0 25% 0;
  border: 0.25rem solid var(--pink);
  background-color: var(--white);
  font-size: clamp(2rem, 2vw, 5rem);;
  height: clamp(10rem, 10%, 20rem);
  width: clamp(10rem, 10%, 20rem);
  transition: height 100ms, width 100ms;

  &:hover {
    border-radius: 25% 0 25% 0;
    border: 0.25rem solid var(--light-pink);
    background-color: var(--white);
    height: calc(clamp(10rem, 10%, 20rem)*1.1);
    width: calc(clamp(10rem, 10%, 20rem)*1.1);
    transition: height 100ms, width 100ms;
  &:active{
    background-color: var(--white);
  }
  }
}

/* ================
About Section style 
=================*/
.card-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
  background: var(--dark-red);
}

/* Card Team */
.card-groups,
.card-team,
.swipe-group,
.cards {
  margin-top: 1rem;
  aspect-ratio: 5 / 7;
}

.card-groups,
.card-team,
.swipe-group,
.big-card {  
  width: 10rem;
}

.card-team, .swipe-group {
  position: absolute;
  transition: transform 400ms ease;
}

.cards {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
  background-position: center;
  background-size: cover;
}

.big-card {
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  z-index: 2;
}

.little-card {
  width: 3rem;
  border-radius: 0.3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 1;
}

.little-card:nth-child(5) {
  background: var(--light-blue) url(../images/linkedin.png) center/cover no-repeat;
}

.little-card:nth-child(6) {
  background: var(--white) url(../images/github.png) center/cover no-repeat;
}

.big-card:nth-child(1) {
  background: url(../images/profilePicture1.png) center/cover no-repeat;
  transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(2) {
  background: url(../images/profilePicture2.png) center/cover no-repeat;
  transform: rotate(2deg);
}

.big-card:nth-child(3) {
  background: url(../images/profilePicture3.png) center/cover no-repeat;
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(4) {
  background: url(../images/profilePicture4.png) center/cover no-repeat;
  transform: translate(10%, 3%) rotate(5deg);
}

.big-card:nth-child(5) {
  background: url(../images/profilePicture5.png) center/cover no-repeat;
  transform: translateX(5%) rotate(3deg);
}

.big-card:nth-child(6) {
  background: url(../images/profilePicture6.png) center/cover no-repeat;
  transform: translateX(10%) rotate(-1deg);
}

/* Hover effect Team */  
.card-team:hover > .card {  
  box-shadow: -1rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
}

.card-team:hover > .big-card:nth-child(1) {
  transform: translate(-65%, 20%) rotate(-24deg);
}

.card-team:hover > .big-card:nth-child(2) {
  transform: translate(-45%, 14%) rotate(-18deg);
}

.card-team:hover > .big-card:nth-child(3) {
  transform: translate(-15%, 10%) rotate(-8deg);
}

.card-team:hover > .big-card:nth-child(4) {
  transform: translate(15%, 14%) rotate(8deg);
}

.card-team:hover > .big-card:nth-child(5) {
  transform: translate(45%, 20%) rotate(18deg);
}

.card-team:hover > .big-card:nth-child(6) {
  transform: translate(65%, 26%) rotate(24deg);
}

/* Hover effect Swipe */
.swipe-team:hover > .card {  
  box-shadow: -1rem 0.5rem 2rem rgba(0, 0, 0, 0.805);
}
.swipe-group:hover > .big-card:nth-child(1) {
  transform: translate(-75%, 16%) rotate(-24deg);
  z-index: 1;
}

.swipe-group:hover > .big-card:nth-child(2) {
  transform: translate(-25%, 8%) rotate(-8deg);
  z-index: 2;
}

.swipe-group:hover > .big-card:nth-child(3) {
  transform: translate(25%, 8%) rotate(8deg);
  z-index: 3;
}

.swipe-group:hover > .big-card:nth-child(4) {
  transform: translate(75%, 16%) rotate(24deg);
  z-index: 4;
}

.swipe-group:hover > .little-card:nth-child(5) {
  transform: translate(240%, -160%) rotate(20deg);
  z-index: 3;
}

.swipe-group:hover > .little-card:nth-child(6) {
  transform: translate(-280%, 180%) rotate(-20deg);
  z-index: 1;
}

.card-team.not-active {
  display: none;
}

.card-swiper-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0vmin 4vmin;
}

.card-swiper-buttons > button {
  font-size: 1.5rem;
  border: 0.4vmin solid rgb(200, 200, 200);
  border-radius: 100%;
  color: white;
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

#start-swipe, #right-button {
  color: var(--light-pink);
  border-color: var(--light-pink);
}

#left-button {
  color: var(--white);
  border-color: var(--white);
}

#left-button, #right-button, .swipe-group {
  display: none;
}

@media (min-width: 576px) {
  .card-team > .card:not(:last-child) {
      border-radius: 0.3rem;
  }
  .card-team>.card:not(:first-child) {
      border-radius: 0.3rem;
  }
  .card-groups,
  .card-team,
  .big-card {  
  width: 15rem;
  }
  .card-swiper-buttons > button {
      font-size: 2rem;
      height: 4rem;
      width: 4rem;
  }
  .swipe-group:hover > .little-card:nth-child(5) {
      transform: translate(320%, -140%) rotate(20deg);
  }
  
  .swipe-group:hover > .little-card:nth-child(6) {
      transform: translate(-260%, 240%) rotate(-20deg);
  }
  .little-card {
      width: 4rem;
  }
}

/**Footer*/
footer {
  position: fixed;
  z-index: 1;
  font-family: var(--main-font);
  font-size: 0.9rem;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-red);
  color: var(--white);
  line-height: 1.5rem;
  padding-block: 0.25rem;
  
  & ul {
    --_gap: 1rem;
    width: 100%;
  }

  & li {
    padding-inline: 0.5rem;
  }

  & a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
  }

  /* Hover effects */
  & li {
    padding-inline: calc(var(--_gap) / 2);
    position: relative;
    opacity: 0.7;
    overflow: hidden;
  }

  & li:hover {
    opacity: 1;
  }

  & li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--light-pink);

    scale: 0 1;
    transition: scale 250ms, translate 300ms;
  }

  & li:hover::after {
    scale: 1 1;
  }

  /* Hover effect left to right */
  & li:hover + li::after {
    translate: -100%;
  }

  & li:has(+ li:hover)::after {
    translate: 100%;
  }
}

/* Media query */
@media screen and (max-width: 600px) {
  .container-fluid {
    --bs-gutter-x:0;
  }
  .card{
    width: 100%;
    border-radius:0;
  }

  #loveLetterForm{
    width:100%;
  }
}

/* Animations */
@keyframes GrowShrink{
  0% {scale:1;}
  100%{scale:1.4;}
}

/* Falling stars */
@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }
  
  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }
  
  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }
  
  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}